header {
    background: red;
}

#article00 {
    background-color: yellow;
}

#article01 {
    background-color: tomato;
}

#article11 {
    background-color: green;
}

#article12 {
    background-color: indigo;
}

#clear {
    clear : both;
}

.article_left {
    float : right;
    width: 50%;
}

.article_right {
    float : left;
    width: 50%;
}

section {
    overflow: hidden;    
}

footer {
    background: brown;
}