header {
    background: red;
}

article {
    background: green;
    width: 100%;
    clear : both;
}

aside {
    float: left;
    background: yellow;
    width: 35%;
}

footer {
    background: brown;
}